<header class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="/">Majhong Tool Box</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only"></span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="hand-analysis">手牌分析</a></li>
      <li><a href="score-calculator">点数計算</a></li>
      <li><a href="play-record">プレイ履歴</a></li>
      <li><a href="quick-reference">早見表</a></li>
    </ul>
  </div>
</header>
